<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\sale-service.log"
      internalLogLevel="Info" >

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  <variable name="logLevel" value="${configsetting:name=Logging.LogLevel.Default}"/>

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${logDirectory}/log_${shortdate}.txt"
            layout="${longdate} ${uppercase:${level}} ${message}"
            archiveAboveSize="52428800"
            archiveNumbering="Sequence"
            archiveEvery="Month"
            maxArchiveFiles="1">
    </target>
    <target name="logconsole"
            xsi:type="console"
            layout="${uppercase:${level}}&#9;${threadid}&#9;${longdate:universalTime=True}&#9;${logger}&#9;${message}&#9;${exception:format=ToString}&#9;${mdc:AdditionalData}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>